<div style="background: #ccc;padding: 2rem">
     <img src="{{ profile }}" width="10%"/>
     {{ name }}
     <b>{{ role }} </b>
     <a href="logout">Logout</a>
     <a href="addjob">ADD JOB POST</a>
     <a href="viewjob">VIEW ALL JOB</a>
</div>