<form method="post" action="entryinfo">
    <input type="number" name="number" placeholder="phone">
    <select name="role">
        <option value="recruiter">recruiter</option>
        <option value="candidate">candidate</option>
    </select>
    <input type="submit" name="submit" value="Go">
</form>